/** --------------------------------------------------------------
 *  Header
 */

// Size of max navbar button
.rm-max .rm-small .rm-button {
    font-size: 2em;
}

@maxButtonFontSize: 2em;

.site-header {
    position: relative;
}

.logo-1 {
    display: none;
}

.rm-desktop {
    float: left;
    li {
        a {
            padding: 0 20px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }
        a:hover {
            text-decoration: none;
        }
    }
}

.flash-wrap {
    text-align: center;
}

// Site title
.site-logo-text {
    font-size: 28px;
    margin-bottom: @magicNumber / 2;

    a {
        text-decoration: none;
    }
}

.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}

.site-logo-text-icon {
    img {
        display: inline;
        vertical-align: bottom;
    }
}
