/** --------------------------------------------------------------
 *  Header
 */

// Size of max navbar button
.rm-max .rm-small .rm-button {
    font-size: 2em;
}

@maxButtonFontSize: 2em;

.site-header {
    position: relative;
}

.logo-1 {
    display: none;
}

.rm-desktop {
    float: left;
    li {
        a {
            padding: 0 20px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
            -webkit-transition: color 0.3s;
            -moz-transition: color 0.3s;
            transition: color 0.3s;
        }
        a::before {
            position: absolute;
            top: -100%;
            left: 50%;
            color: transparent;
            content: '•';
            text-shadow: 0 0 transparent;
            font-size: 1.2em;
            -webkit-transition: text-shadow 0.3s, color 0.3s;
            -moz-transition: text-shadow 0.3s, color 0.3s;
            transition: text-shadow 0.3s, color 0.3s;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            transform: translateX(-50%);
            pointer-events: none;
        }
        a:hover {
            text-decoration: none;
        }
        a:hover::before,
        a:focus::before {
            color: #E9E9E9;
            text-shadow: 10px 0 #fff, -10px 0 #fff;
        }
        ul {
            li {
                padding: 10px;
                background-color: #063266;
                top: 8px;
                a::before {
                    content: "";
                }
            }
        }
    }
}

.flash-wrap {
    text-align: center;
}

// Site title
.site-logo-text {
    font-size: 28px;
    margin-bottom: @magicNumber / 2;

    a {
        text-decoration: none;
    }
}

.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}

.site-logo-text-icon {
    img {
        display: inline;
        vertical-align: bottom;
    }
}
