/**
* Anax Flat theme.
*/

@import url(modules.less);

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/** --------------------------------------------------------------
 *  General styling
 */

html {
    overflow-y: scroll;
}

.wrap-all {
    border: 1px solid @borderColor;
    box-shadow: 0 0 10px;
}

@borderColor: #666666;

/** --------------------------------------------------------------
*/

.git-img {
    border-radius: 6px;
}
